<%- include('_layout/header'); -%>

<body>

	<!-- BARRE DE NAVIGATION -->
	<nav>
		<div class="nav-wrapper blue lighten-2"> <a href="#" class="brand-logo center">PiZZima</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="#"> </a><br>
				</li>
				<li><a href="menu.html"><i class="large material-icons">menu</i></a> </li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="panier.html"><i class="large material-icons">shopping_cart</i></a></li>
				<li><a href="#"> </a><br>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>

	<!-- UNE LIGNE DE PIZZAS -->
	<div class="row">
		<% for(var i=0; i<pizzas.length; i++) { %>
		<div class="col s3 m3">
			<div class="card">
				<div class="card-image"> <img src=<%=pizzas[i]['image'] %>>
					<a class="btn-floating halfway-fab waves-effect waves-light red"> <i class="large material-icons">add</i></a>
				</div>
				<div class="card-content"><span class="card-title"><b>
					<%= pizzas[i]['nom'] %></b></span>
					<p><%= pizzas[i]['description'] %></p>
				</div>
			</div>
		</div>
		<% } %>
	</div>

	<!-- FORMULAIRE AJOUT PIZZA -->
	<div class="row">
		<form action="/" method="POST" class="col s6 offset-s3">
			<div class="row">
				<div class="input-field col s6">
					<input name="nom_pizza" type="text" class="validate"><br>
					<label for="nom_pizza">Nom</label>
				</div>
				<div class="input-field col s6">
					<input name="description_pizza" type="text" class="validate">
					<label for="description_pizza">Description</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input name="image_pizza" type="text" class="validate"><br>
					<label for="image_pizza">URL image</label>
				</div>
				<div class="input-field col s6">
					<input name="prix_pizza" type="text" class="validate">
					<label for="prix_pizza">Prix</label>
				</div>
			</div>
			<center><button type="submit">Envoyer</button></center>
		</form>
	</div>

</body>

<%- include('_layout/footer'); -%>